<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADTrsht4eYGpGO6jlpSoJXrlY2J7z2gbc</string>
	<key>GCM_SENDER_ID</key>
	<string>809014780996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.cameraAI</string>
	<key>PROJECT_ID</key>
	<string>nguyenluancamera-d22c7</string>
	<key>STORAGE_BUCKET</key>
	<string>nguyenluancamera-d22c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809014780996:ios:49d54fb715126d3706c811</string>
	<key>DATABASE_URL</key>
	<string>https://nguyenluancamera-d22c7-default-rtdb.firebaseio.com</string>
</dict>
</plist>